[submodule "reference/jolt"]
	path = reference/jolt
	url = https://github.com/a16z/jolt
[submodule "reference/zkllm-ccs2024"]
	path = reference/zkllm-ccs2024
	url = https://github.com/jvhs0706/zkllm-ccs2024
[submodule "reference/zkGPT"]
	path = reference/zkGPT
	url = https://github.com/security-Anonymous/zkGPT
[submodule "reference/mcl"]
	path = reference/mcl
	url = https://github.com/herumi/mcl
[submodule "lib/dory"]
	path = lib/dory
	url = https://github.com/a16z/dory
